.head {
  border-bottom: 1px solid #E5E5E5; }

.search {
  width: 1200px;
  height: 70px;
  margin: 0 auto; }
  .search .shop-inf {
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px; }
    .search .shop-inf .shop-logo {
      float: left; }
      .search .shop-inf .shop-logo img {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
    .search .shop-inf .shop-name {
      float: left;
      padding-left: 10px; }
      .search .shop-inf .shop-name .name {
        font-size: 14px;
        line-height: 20px; }
        .search .shop-inf .shop-name .name a {
          color: #333; }
      .search .shop-inf .shop-name .inf {
        font-size: 12px;
        color: #666;
        float: left;
        position: relative; }
        .search .shop-inf .shop-name .inf p span {
          margin-right: 5px; }
          .search .shop-inf .shop-name .inf p span b {
            font-weight: 100;
            margin-left: 3px;
            color: #FF3366; }
        .search .shop-inf .shop-name .inf .info-com {
          position: absolute;
          top: -35px;
          left: -64px;
          z-index: 2;
          display: none;
          background: #f6f6f6;
          width: 505px;
          height: 220px;
          margin-top: 70px;
          box-sizing: border-box; }
          .search .shop-inf .shop-name .inf .info-com .info-com-left {
            width: 220px;
            height: 100%;
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            float: left; }
            .search .shop-inf .shop-name .inf .info-com .info-com-left ul {
              float: left;
              line-height: 25px;
              margin-top: 20px; }
              .search .shop-inf .shop-name .inf .info-com .info-com-left ul:nth-child(1) {
                width: 85px;
                text-align: right; }
              .search .shop-inf .shop-name .inf .info-com .info-com-left ul:nth-child(2) {
                color: #333;
                margin-left: 5px; }
          .search .shop-inf .shop-name .inf .info-com .info-com-rig {
            float: left;
            width: 269px;
            color: #333;
            padding-left: 15px;
            border-top: 1px solid #ddd; }
            .search .shop-inf .shop-name .inf .info-com .info-com-rig .rig-bsr ul {
              float: left;
              line-height: 25px;
              margin-top: 20px;
              padding-bottom: 5px;
              border-bottom: 1px dashed #ddd; }
              .search .shop-inf .shop-name .inf .info-com .info-com-rig .rig-bsr ul:nth-child(1) {
                padding-right: 70px; }
                .search .shop-inf .shop-name .inf .info-com .info-com-rig .rig-bsr ul:nth-child(1) span {
                  margin-left: 5px;
                  color: #ff3366; }
              .search .shop-inf .shop-name .inf .info-com .info-com-rig .rig-bsr ul:nth-child(2) span {
                margin-right: 5px;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                width: 20px;
                height: 20px;
                color: #fff;
                background: #FF3366; }
            .search .shop-inf .shop-name .inf .info-com .info-com-rig .del-time ul {
              float: left;
              line-height: 25px;
              margin-top: 5px;
              padding-bottom: 5px; }
              .search .shop-inf .shop-name .inf .info-com .info-com-rig .del-time ul:nth-child(1) {
                padding-right: 35px; }
                .search .shop-inf .shop-name .inf .info-com .info-com-rig .del-time ul:nth-child(1) span {
                  margin-left: 2px;
                  margin-right: 2px;
                  color: #1aca60; }
    .search .shop-inf .shop-action {
      padding-top: 9px;
      float: left;
      padding-left: 10px; }
      .search .shop-inf .shop-action a {
        display: inline-block;
        padding: 0 10px 0 20px;
        border: 1px solid #ddd;
        color: #666;
        font-size: 12px;
        line-height: 20px; }
      .search .shop-inf .shop-action .coll {
        margin-right: 10px;
        background: #fff url(../img/detailsImg/mgj.png) no-repeat 2px -49px; }
      .search .shop-inf .shop-action .serv {
        background: #fff url(../img/detailsImg/deta.gif) no-repeat 2px 1px; }
    .search .shop-inf .arrows {
      width: 20px;
      height: 20px;
      float: left;
      margin-top: 9px;
      background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -20px; }
    .search .shop-inf .liner-right {
      width: 1px;
      height: 40px;
      float: left;
      margin-left: 25px;
      margin-top: 5px;
      background: #eee; }
    .search .shop-inf:hover {
      background: #F6F6F6; }
      .search .shop-inf:hover .inf .info-com {
        display: block; }
  .search .search-con {
    float: right;
    padding-top: 18px;
    position: relative; }
    .search .search-con form .txt {
      width: 420px;
      height: 30px;
      border: 2px solid #ef2f23;
      font-size: 12px;
      text-indent: 10px;
      outline: none; }
    .search .search-con form span {
      cursor: pointer;
      display: inline-block;
      width: 72px;
      height: 34px;
      font-size: 12px;
      color: #fff;
      line-height: 34px;
      text-align: center;
      background: #ef2f23;
      vertical-align: bottom; }
    .search .search-con form a {
      display: inline-block;
      width: 74px;
      height: 32px;
      font-size: 12px;
      color: #EF2F23;
      line-height: 32px;
      text-align: center;
      vertical-align: bottom;
      border: 1px solid #EF2F23; }
    .search .search-con #search-list {
      width: 420px;
      list-style: none;
      background: #fff;
      font-size: 14px;
      color: #666;
      text-indent: 10px;
      position: absolute;
      border: 1px solid #ddd;
      border-top: 0;
      top: 52px;
      left: 1px; }
    .search .search-con #search-list li {
      padding: 8px 4px; }

.nav {
  width: 100%;
  margin-top: 15px; }
  .nav .banner {
    width: 100%;
    height: 105px;
    display: block;
    background: url(../img/detailsImg/detaBanner.png) no-repeat center; }
  .nav .nav-con {
    width: 100%;
    height: 30px;
    background: #3c3c3c; }
    .nav .nav-con .nav-list {
      width: 1200px;
      margin: 0 auto; }
      .nav .nav-con .nav-list .list-li {
        float: left;
        line-height: 30px;
        font-size: 12px;
        position: relative; }
        .nav .nav-con .nav-list .list-li > a {
          padding: 0 20px;
          border-right: 1px solid #5c5c5c; }
        .nav .nav-con .nav-list .list-li a {
          color: #fff; }
        .nav .nav-con .nav-list .list-li ul {
          position: absolute;
          top: 30px;
          left: 0;
          width: 150px;
          display: none;
          background: rgba(60, 60, 60, 0.9); }
          .nav .nav-con .nav-list .list-li ul li {
            line-height: 30px;
            text-indent: 30px;
            background: url(../img/detailsImg/rig-jt.png) no-repeat 15px 11px; }
          .nav .nav-con .nav-list .list-li ul li:hover {
            background: #666; }
        .nav .nav-con .nav-list .list-li:hover ul {
          display: block;
          z-index: 10000; }

.shop-detail {
  width: 1200px;
  margin: 50px auto 0; }
  .shop-detail .primary-goods {
    float: left; }
    .shop-detail .primary-goods .goods-img {
      float: left;
      position: relative;
      width: 400px;
      padding-bottom: 50px; }
      .shop-detail .primary-goods .goods-img #large-box {
        position: absolute;
        display: none;
        top: 0;
        left: 400px;
        width: 400px;
        height: 400px;
        overflow: hidden; }
        .shop-detail .primary-goods .goods-img #large-box #large-img {
          position: absolute;
          width: 1200px;
          height: 1800px; }
      .shop-detail .primary-goods .goods-img #middle-box {
        position: relative; }
        .shop-detail .primary-goods .goods-img #middle-box #middle-img {
          width: 100%; }
        .shop-detail .primary-goods .goods-img #middle-box #shadow {
          position: absolute;
          left: 0;
          top: 0;
          width: 200px;
          height: 200px;
          display: none;
          background: rgba(255, 255, 255, 0.4);
          cursor: move; }
      .shop-detail .primary-goods .goods-img #small-box {
        margin-top: 10px;
        width: 400px;
        height: 80px;
        text-align: center; }
        .shop-detail .primary-goods .goods-img #small-box img {
          width: 80px;
          height: 80px;
          border: 1px solid #fff; }
        .shop-detail .primary-goods .goods-img #small-box .act {
          border-bottom-color: red; }
    .shop-detail .primary-goods .goods-info {
      float: left;
      width: 540px;
      padding: 0 90px 50px 30px; }
      .shop-detail .primary-goods .goods-info h3 {
        width: 528px;
        font-size: 22px;
        margin-bottom: 10px; }
      .shop-detail .primary-goods .goods-info .money-news {
        width: 530px;
        border: 1px solid #eee;
        padding-left: 10px;
        background: url(../img/detailsImg/money-bg.png) no-repeat center;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .money-news .money {
          line-height: 30px; }
          .shop-detail .primary-goods .goods-info .money-news .money span {
            padding-left: 25px;
            text-decoration: line-through; }
        .shop-detail .primary-goods .goods-info .money-news .money-list {
          line-height: 40px; }
          .shop-detail .primary-goods .goods-info .money-news .money-list .prom {
            float: left; }
            .shop-detail .primary-goods .goods-info .money-news .money-list .prom span {
              padding-left: 10px;
              font-size: 24px;
              color: #ef2f23;
              vertical-align: sub; }
          .shop-detail .primary-goods .goods-info .money-news .money-list .eval {
            float: right; }
            .shop-detail .primary-goods .goods-info .money-news .money-list .eval span {
              padding: 0 13px 0 8px; }
      .shop-detail .primary-goods .goods-info .service {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .service span {
          padding-left: 35px;
          background: url(../img/detailsImg/deta.gif) no-repeat 17px 0; }
      .shop-detail .primary-goods .goods-info .color {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .color img {
          width: 46px;
          height: 46px;
          border: 2px solid #666;
          margin-left: 35px;
          vertical-align: top; }
      .shop-detail .primary-goods .goods-info .size {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .size span {
          display: inline-block;
          width: 32px;
          line-height: 30px;
          border: 1px solid #666;
          font-size: 14px;
          font-weight: 600;
          color: #000;
          text-align: center;
          cursor: pointer; }
        .shop-detail .primary-goods .goods-info .size span:nth-child(1) {
          margin-left: 33px; }
      .shop-detail .primary-goods .goods-info .amount {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999;
        line-height: 25px; }
        .shop-detail .primary-goods .goods-info .amount .amount-num {
          display: block;
          float: left; }
        .shop-detail .primary-goods .goods-info .amount .num {
          float: left;
          margin-left: 35px;
          margin-right: 10px;
          border: 1px solid #ddd; }
          .shop-detail .primary-goods .goods-info .amount .num span {
            display: inline-block;
            width: 25px;
            line-height: 25px;
            font-size: 20px;
            vertical-align: bottom;
            text-align: center;
            cursor: pointer; }
          .shop-detail .primary-goods .goods-info .amount .num input {
            width: 44px;
            height: 25px;
            border: 0;
            vertical-align: bottom;
            outline: none;
            text-align: center;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd; }
      .shop-detail .primary-goods .goods-info .buy {
        padding-left: 65px;
        padding-top: 17px; }
        .shop-detail .primary-goods .goods-info .buy a {
          display: inline-block;
          width: 200px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          font-size: 18px; }
        .shop-detail .primary-goods .goods-info .buy .buy-now-buttons {
          background: #ef2f23;
          color: #fff; }
        .shop-detail .primary-goods .goods-info .buy .add-to-cart {
          box-sizing: border-box;
          border: 1px solid #ddd;
          vertical-align: bottom;
          color: #000; }
      .shop-detail .primary-goods .goods-info .social {
        padding-left: 65px;
        padding-top: 17px; }
        .shop-detail .primary-goods .goods-info .social a {
          display: inline-block;
          padding: 0 13px 0 28px;
          border: 1px solid #ddd;
          line-height: 25px;
          border-radius: 15px;
          color: #ddd;
          font-size: 12px;
          margin-right: 10px; }
        .shop-detail .primary-goods .goods-info .social .fav {
          background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -108px; }
        .shop-detail .primary-goods .goods-info .social .share {
          background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -49px; }
        .shop-detail .primary-goods .goods-info .social a:hover {
          border: 1px solid #EF2F23; }
      .shop-detail .primary-goods .goods-info .promise {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .promise span {
          display: inline-block;
          line-height: 30px;
          text-align: center;
          padding-right: 22px;
          cursor: pointer; }
          .shop-detail .primary-goods .goods-info .promise span img {
            width: 24px;
            height: 24px;
            vertical-align: middle; }
      .shop-detail .primary-goods .goods-info .mode {
        padding-left: 10px;
        padding-top: 17px;
        font-size: 12px;
        color: #999; }
        .shop-detail .primary-goods .goods-info .mode .label {
          float: left; }
        .shop-detail .primary-goods .goods-info .mode .nomaibei {
          float: left;
          width: 105px;
          height: 20px;
          background: url(../img/detailsImg/deta-xb.png) no-repeat -36px -295px; }
  .shop-detail .primary-slide {
    float: right;
    width: 139px;
    border-left: 1px solid #eee;
    padding-left: 20px;
    box-sizing: border-box; }
    .shop-detail .primary-slide .title {
      color: #666;
      height: 14px;
      line-height: 14px;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      position: relative;
      text-align: center; }
      .shop-detail .primary-slide .title s {
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 0;
        border-top: 1px solid #eee;
        text-decoration: none; }
      .shop-detail .primary-slide .title span {
        font-size: 16px;
        text-align: center;
        width: 6em;
        top: 5px;
        left: 50%;
        margin-left: -3em;
        background-color: #fff;
        position: absolute; }
    .shop-detail .primary-slide ul {
      text-align: center;
      font-size: 14px; }
      .shop-detail .primary-slide ul li {
        margin-top: 15px; }
        .shop-detail .primary-slide ul li img {
          width: 119px;
          margin-bottom: 12px; }
        .shop-detail .primary-slide ul li span {
          color: #333; }

.detail-content {
  width: 1200px;
  border-right: 1px solid #e5e5e5;
  margin: 0 auto 50px; }
  .detail-content .col-sidebar {
    width: 200px;
    float: left; }
    .detail-content .col-sidebar .module-shop {
      width: 198px;
      border: 1px solid #e5e5e5; }
      .detail-content .col-sidebar .module-shop .shop-names {
        width: 198px;
        background: #f6f6f6;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 58px;
        border-bottom: 1px solid #E5E5E5; }
        .detail-content .col-sidebar .module-shop .shop-names a {
          color: #333; }
      .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate {
        height: 32px;
        margin-top: 20px; }
        .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate ul {
          overflow: hidden;
          width: 168px;
          margin: 0 auto; }
          .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate ul li {
            float: left;
            width: 41px;
            font-size: 12px;
            text-align: center;
            border-right: 1px dotted #e5e5e5; }
            .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate ul li p:nth-child(1) {
              color: #666; }
            .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate ul li p:nth-child(2) {
              color: #ef2f23; }
          .detail-content .col-sidebar .module-shop .ui-bd .shop-evaluate ul li:nth-child(4) {
            border: 0; }
      .detail-content .col-sidebar .module-shop .ui-bd .store-up {
        width: 168px;
        margin: 0 auto;
        padding: 16px 0 20px;
        text-align: center;
        border-bottom: 1px dashed #E5E5E5; }
        .detail-content .col-sidebar .module-shop .ui-bd .store-up a {
          width: 64px;
          line-height: 20px;
          border: 1px solid #E5E5E5;
          font-size: 12px;
          color: #333; }
        .detail-content .col-sidebar .module-shop .ui-bd .store-up a:nth-child(1) {
          float: left; }
        .detail-content .col-sidebar .module-shop .ui-bd .store-up a:nth-child(2) {
          float: right; }
      .detail-content .col-sidebar .module-shop .ui-bd .shop-input {
        width: 168px;
        margin: 0 auto;
        padding: 16px 0 20px;
        border-bottom: 1px dashed #E5E5E5;
        text-align: center; }
        .detail-content .col-sidebar .module-shop .ui-bd .shop-input input {
          width: 91px;
          height: 20px;
          outline: none;
          border: 1px solid #E5E5E5; }
        .detail-content .col-sidebar .module-shop .ui-bd .shop-input a {
          display: inline-block;
          width: 66px;
          line-height: 22px;
          font-size: 12px;
          color: #fff;
          vertical-align: bottom;
          background: #333; }
      .detail-content .col-sidebar .module-shop .ui-bd .xiaodian {
        width: 168px;
        margin: 0 auto;
        padding: 16px 0 20px;
        text-align: center; }
        .detail-content .col-sidebar .module-shop .ui-bd .xiaodian img {
          width: 100%; }
    .detail-content .col-sidebar .shop-sort {
      width: 198px;
      border: 1px solid #e5e5e5;
      margin-top: 20px; }
      .detail-content .col-sidebar .shop-sort .title {
        background: #f6f6f6;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 37px;
        border-bottom: 1px solid #E5E5E5; }
        .detail-content .col-sidebar .shop-sort .title a {
          color: #333; }
      .detail-content .col-sidebar .shop-sort ul {
        font-size: 12px;
        text-indent: 30px;
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .detail-content .col-sidebar .shop-sort ul li {
          background: url(../img/detailsImg/mgj.png) no-repeat -230px 12px; }
          .detail-content .col-sidebar .shop-sort ul li a {
            background: #fff;
            color: #666; }
    .detail-content .col-sidebar .shop-watch {
      width: 198px;
      border: 1px solid #e5e5e5;
      margin-top: 20px; }
      .detail-content .col-sidebar .shop-watch .title {
        background: #f6f6f6;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 37px;
        border-bottom: 1px solid #E5E5E5; }
        .detail-content .col-sidebar .shop-watch .title a {
          color: #333; }
      .detail-content .col-sidebar .shop-watch .watch-list ul {
        width: 168px;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 14px; }
        .detail-content .col-sidebar .shop-watch .watch-list ul li {
          margin-bottom: 30px; }
          .detail-content .col-sidebar .shop-watch .watch-list ul li .watch-list-img img {
            width: 100%; }
          .detail-content .col-sidebar .shop-watch .watch-list ul li .watch-list-tit {
            display: block;
            width: 100%;
            line-height: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333; }
          .detail-content .col-sidebar .shop-watch .watch-list ul li p {
            color: #333; }
            .detail-content .col-sidebar .shop-watch .watch-list ul li p span {
              padding-left: 38px;
              color: #999;
              background: url(../img/detailsImg/watch-list-bg.png) no-repeat 20px 3px; }
  .detail-content .col-con {
    width: 732px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    border: 1px solid #E5E5E5; }
    .detail-content .col-con .col-nav {
      height: 58px;
      background: #f6f6f6; }
      .detail-content .col-con .col-nav div {
        float: left;
        width: 149px;
        line-height: 54px;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        border-top: 3px solid transparent;
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer; }
      .detail-content .col-con .col-nav .col-nav-phone {
        width: 282px;
        border-right: 0;
        position: relative; }
        .detail-content .col-con .col-nav .col-nav-phone div {
          position: absolute;
          right: 0;
          top: 57px;
          display: none; }
        .detail-content .col-con .col-nav .col-nav-phone:hover div {
          display: block; }
      .detail-content .col-con .col-nav .common {
        background: #fff;
        border-bottom: 0;
        border-top-color: #ef2f23; }
    .detail-content .col-con .col-content {
      float: left;
      width: 9999px; }
      .detail-content .col-con .col-content .module-panel {
        display: none; }
      .detail-content .col-con .col-content .active {
        display: block; }
      .detail-content .col-con .col-content .module-graphic {
        box-sizing: border-box;
        float: left;
        width: 730px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 40px; }
        .detail-content .col-con .col-content .module-graphic .shop-describe h3 {
          font-size: 18px;
          display: inline-block;
          color: #333;
          border-bottom: 1px solid #333;
          padding-bottom: 2px; }
        .detail-content .col-con .col-content .module-graphic .shop-describe p {
          font-size: 14px;
          color: #666;
          padding-top: 20px;
          padding-bottom: 20px; }
        .detail-content .col-con .col-content .module-graphic .shop-para h3 {
          font-size: 18px;
          display: inline-block;
          color: #333;
          border-bottom: 1px solid #333;
          padding-bottom: 2px; }
        .detail-content .col-con .col-content .module-graphic .shop-para table {
          width: 100%;
          margin-top: 20px;
          border-collapse: collapse;
          border-spacing: 0; }
          .detail-content .col-con .col-content .module-graphic .shop-para table tbody tr td {
            width: 33%;
            height: 34px;
            border: 1px solid #eee;
            padding: 0 0 0 10px;
            color: #666;
            font-size: 12px; }
        .detail-content .col-con .col-content .module-graphic .wearer-effect {
          width: 100%;
          padding-top: 20px; }
          .detail-content .col-con .col-content .module-graphic .wearer-effect h3 {
            font-size: 18px;
            display: inline-block;
            color: #333;
            border-bottom: 1px solid #333;
            padding-bottom: 2px;
            margin-bottom: 20px; }
          .detail-content .col-con .col-content .module-graphic .wearer-effect .graphic-pic {
            width: 100%;
            padding-bottom: 20px; }
            .detail-content .col-con .col-content .module-graphic .wearer-effect .graphic-pic img {
              width: 100%; }
      .detail-content .col-con .col-content .module-review {
        float: left;
        width: 730px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 40px;
        box-sizing: border-box; }
        .detail-content .col-con .col-content .module-review .panel-title {
          padding-bottom: 30px; }
          .detail-content .col-con .col-content .module-review .panel-title h3 {
            font-size: 18px;
            display: inline-block;
            color: #333;
            border-bottom: 1px solid #333;
            padding-bottom: 2px; }
        .detail-content .col-con .col-content .module-review .comment-content {
          width: 100%; }
          .detail-content .col-con .col-content .module-review .comment-content .module-nav {
            padding-bottom: 20px; }
            .detail-content .col-con .col-content .module-review .comment-content .module-nav a {
              font-size: 12px;
              color: #333; }
              .detail-content .col-con .col-content .module-review .comment-content .module-nav a:nth-child(2) {
                color: #666; }
            .detail-content .col-con .col-content .module-review .comment-content .module-nav .comment-sort {
              float: right;
              font-size: 12px;
              color: #333; }
          .detail-content .col-con .col-content .module-review .comment-content .comments {
            width: 100%; }
            .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item {
              width: 100%;
              margin-bottom: 30px; }
              .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .face {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: -100px;
                float: left; }
                .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .face img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%; }
              .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info {
                width: 100%;
                float: left; }
                .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w {
                  margin-left: 60px; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-t {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 4px; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-t .name {
                      color: #333;
                      float: left;
                      margin-right: 5px; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-t .deta {
                      color: #999;
                      float: right; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-m {
                    font-size: 14px;
                    color: #666;
                    margin-bottom: 4px;
                    line-height: 18px;
                    margin-bottom: 4px; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-b {
                    margin-bottom: 4px;
                    color: #999; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-b span {
                      margin-right: 40px;
                      font-size: 12px;
                      color: #666; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k {
                    margin-top: 7px; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li {
                      float: left;
                      margin-right: 10px;
                      padding-bottom: 10px; }
                      .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li .img-box {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        padding: 1px;
                        border: 1px solid #adadad; }
                        .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li .img-box img {
                          width: 40px;
                          height: 40px; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-l {
                    border-top: 1px dashed #d3d3d3;
                    margin: 7px 0; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-z {
                    font-size: 12px;
                    color: #666; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-z .fl {
                      float: left; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-z .content {
                      float: left;
                      width: 70%; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-z .fr {
                      float: right; }
                  .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k {
                    margin-top: 7px; }
                    .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li {
                      float: left;
                      margin-right: 10px;
                      padding-bottom: 10px; }
                      .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li .img-box {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        padding: 1px;
                        border: 1px solid #adadad; }
                        .detail-content .col-con .col-content .module-review .comment-content .comments .comment-item .info .info-w .info-k .list li .img-box img {
                          width: 40px;
                          height: 40px; }
          .detail-content .col-con .col-content .module-review .comment-content .pagination {
            font-size: 14px;
            text-align: center;
            padding-bottom: 20px; }
            .detail-content .col-con .col-content .module-review .comment-content .pagination a {
              color: #999;
              margin-right: 10px; }
              .detail-content .col-con .col-content .module-review .comment-content .pagination a:hover {
                color: #FF3366; }
      .detail-content .col-con .col-content .module-recommend {
        float: left;
        width: 730px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 40px;
        box-sizing: border-box; }
        .detail-content .col-con .col-content .module-recommend .panel-title {
          padding-bottom: 30px; }
          .detail-content .col-con .col-content .module-recommend .panel-title h3 {
            font-size: 18px;
            display: inline-block;
            color: #333;
            border-bottom: 1px solid #333;
            padding-bottom: 2px; }
        .detail-content .col-con .col-content .module-recommend .recommend-list {
          padding-bottom: 10px; }
          .detail-content .col-con .col-content .module-recommend .recommend-list ul {
            overflow: hidden; }
            .detail-content .col-con .col-content .module-recommend .recommend-list ul li {
              overflow: hidden;
              float: left;
              width: 160px;
              margin: 0 15px 30px 0;
              font-size: 14px;
              color: #333; }
              .detail-content .col-con .col-content .module-recommend .recommend-list ul li:nth-child(4n) {
                margin-right: 0; }
              .detail-content .col-con .col-content .module-recommend .recommend-list ul li a img {
                width: 160px;
                height: 240px; }
              .detail-content .col-con .col-content .module-recommend .recommend-list ul li p {
                width: 160px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 5px; }
            .detail-content .col-con .col-content .module-recommend .recommend-list ul .money {
              margin-top: 5px; }
              .detail-content .col-con .col-content .module-recommend .recommend-list ul .money .price {
                float: left; }
              .detail-content .col-con .col-content .module-recommend .recommend-list ul .money .fav {
                color: #999;
                font-size: 12px;
                float: left;
                margin-left: 36px; }
                .detail-content .col-con .col-content .module-recommend .recommend-list ul .money .fav em {
                  display: inline-block;
                  width: 13px;
                  height: 12px;
                  background: url(../img/fav.png) no-repeat 0 -200px; }
  .detail-content .col-extra {
    width: 246px;
    height: 100%;
    border-left: 0;
    float: right;
    border-top: 1px solid #e5e5e5;
    background: #fff; }
    .detail-content .col-extra .cart-hd {
      display: block;
      width: 246px;
      line-height: 58px;
      text-align: center;
      font-size: 18px;
      border-bottom: 1px solid #E5E5E5;
      text-indent: 20px;
      background: #fff url(../img/detailsImg/cart-hd-bg.png) no-repeat 54px 20px;
      z-index: 100; }
      .detail-content .col-extra .cart-hd a {
        color: #333; }
    .detail-content .col-extra .extranav-bd {
      width: 209px;
      margin: 15px 18px 0; }
      .detail-content .col-extra .extranav-bd ul {
        text-align: center;
        font-size: 12px;
        line-height: 37px; }
        .detail-content .col-extra .extranav-bd ul li a {
          color: #666; }

.col-nav[data-fixed="fixed"], .shop-names[data-fixed="fixed"], .cart-hd[data-fixed="fixed"], .extranav-bd[data-fixed="fixed"] {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 999; }

.extranav-bd[data-fixed="fixed"] {
  top: 60px; }
