.search {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .search .logo {
    float: left;
    margin-top: 40px; }
    .search .logo img {
      width: 204px;
      height: 52px; }
  .search .com-search {
    position: absolute;
    left: 360px;
    top: 20px; }
    .search .com-search .baby {
      width: 56px;
      line-height: 24px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      background: #ff3366; }
    .search .com-search form {
      margin-bottom: 8px; }
    .search .com-search #search-list {
      width: 450px;
      list-style: none;
      background: #fff;
      font-size: 14px;
      color: #666;
      text-indent: 10px;
      position: absolute;
      border: 1px solid #ddd;
      border-top: 0;
      top: 58px;
      left: 0px;
      z-index: 999; }
    .search .com-search #search-list li {
      padding: 8px 4px; }
    .search .com-search .content {
      width: 450px;
      height: 30px;
      border: 2px solid #f36;
      outline: none; }
    .search .com-search .btn {
      display: inline-block;
      width: 70px;
      height: 34px;
      border: 0;
      background: #f36 url(../img/search.png) no-repeat center;
      vertical-align: bottom;
      cursor: pointer; }
    .search .com-search .hotword a {
      padding-top: 12px;
      margin-right: 3px;
      font-size: 12px;
      color: #666; }
    .search .com-search .hotword .hot {
      color: #FF3366; }
  .search .ewm {
    float: right; }
    .search .ewm img {
      width: 210px;
      height: 160px; }

.con-nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd; }
  .con-nav ul {
    width: 1200px;
    margin: 0 auto; }
    .con-nav ul li {
      width: 109px;
      float: left; }
      .con-nav ul li a {
        display: inline-block;
        line-height: 38px;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        vertical-align: middle;
        border-bottom: 2px solid transparent; }
      .con-nav ul li a:hover {
        border-bottom: 2px solid #FF0000;
        color: #FF3366; }
      .con-nav ul li .active {
        border-bottom: 2px solid #FF0000;
        color: #FF3366; }

.con-nav[data-fixed="fixed"] {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999; }

.carousel {
  position: relative;
  margin: 10px auto 0;
  width: 1200px;
  height: 400px;
  overflow: hidden;
  z-index: 1; }
  .carousel .carousel-list {
    position: relative;
    width: 2360px; }
    .carousel .carousel-list li {
      width: 1200px;
      float: left; }
  .carousel .direction-btn {
    display: none; }
    .carousel .direction-btn a {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      width: 30px;
      line-height: 100px;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 30px;
      text-align: center; }
    .carousel .direction-btn .prev {
      left: 0; }
    .carousel .direction-btn .next {
      right: 0; }
  .carousel .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    padding: 0 4px;
    width: 72px;
    background: rgba(255, 255, 255, 0.5);
    line-height: 0;
    font-size: 0;
    border-radius: 12px; }
    .carousel .dots a {
      margin: 6px 4px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%; }
    .carousel .dots .active {
      background: red; }

.section {
  width: 1200px;
  margin: 0 auto; }
  .section .title {
    margin: 40px auto 20px;
    color: #666; }
    .section .title span {
      float: right;
      font-size: 12px; }
    .section .title h3 {
      float: left;
      font-size: 18px; }
  .section .section-con {
    width: 100%;
    height: 2000px;
    position: relative; }
    .section .section-con .items {
      width: 224px;
      padding: 10px;
      position: absolute; }
      .section .section-con .items img {
        width: 224px;
        height: 340px; }
      .section .section-con .items .item-money {
        width: 224px;
        line-height: 40px; }
        .section .section-con .items .item-money .price {
          font-size: 16px;
          color: #FF3366;
          float: left; }
        .section .section-con .items .item-money .collect {
          font-size: 14px;
          color: #999;
          float: right; }
          .section .section-con .items .item-money .collect img {
            width: 15px;
            height: 15px;
            margin-right: 3px;
            vertical-align: sub; }
      .section .section-con .items .details {
        display: inline-block;
        width: 224px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
        font-size: 12px; }
        .section .section-con .items .details img {
          width: 38px;
          height: 18px;
          margin-right: 3px; }
      .section .section-con .items .details:hover {
        color: #FF3366; }
    .section .section-con .items:nth-child(5n) {
      margin-right: 0; }

.fixed {
  width: 38px;
  height: 100%;
  border-left: 1px solid #ddd;
  background-color: #F6F6F6;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 12px;
  z-index: 999; }
  .fixed ul {
    position: absolute;
    left: 0;
    top: 62px;
    border-top: 1px solid #ddd; }
    .fixed ul li {
      width: 38px;
      border-bottom: 1px solid #ddd;
      padding-top: 41px; }
      .fixed ul li a {
        display: block;
        width: 10px;
        padding-bottom: 20px;
        padding-right: 14px;
        padding-left: 14px;
        word-wrap: break-word;
        color: #666; }
        .fixed ul li a span {
          display: inline-block;
          margin-top: 5px;
          margin-left: -5px;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -moz-transform: rotate(90deg); }
    .fixed ul .biu-download {
      background: url(../img/fixed-app.png) no-repeat 13px 10px;
      position: relative; }
      .fixed ul .biu-download ul {
        position: absolute;
        top: 0;
        left: -140px;
        width: 140px;
        height: 140px;
        display: none;
        border: 1px solid #ddd;
        background-color: #fff; }
        .fixed ul .biu-download ul li img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto; }
      .fixed ul .biu-download:hover {
        background: #FF3366 url(../img/fixed-app-bg.png) no-repeat 13px 10px; }
        .fixed ul .biu-download:hover ul {
          display: block;
          cursor: pointer; }
    .fixed ul .biu-cart {
      background: url(../img/fixed-gwc.png) no-repeat 10px 10px; }
      .fixed ul .biu-cart:hover {
        background: #FF3366 url(../img/fixed-gwc-bg.png) no-repeat 10px 10px; }
    .fixed ul .biu-service {
      background: url(../img/fixed-xx.png) no-repeat 10px 10px; }
      .fixed ul .biu-service:hover {
        background: #FF3366 url(../img/fixed-xx-bg.png) no-repeat 10px 10px; }
    .fixed ul .biu-coupon {
      background: url(../img/fixed-yhq.png) no-repeat 10px 10px; }
      .fixed ul .biu-coupon:hover {
        background: #FF3366 url(../img/fixed-yhq-bg.png) no-repeat 10px 10px; }
    .fixed ul .biu-mark {
      background: url(../img/fixed-sc.png) no-repeat 10px 10px; }
      .fixed ul .biu-mark:hover {
        background: #FF3366 url(../img/fixed-sc-bg.png) no-repeat 10px 10px; }
    .fixed ul .biu-footprint {
      background: url(../img/fixed-zj.png) no-repeat 13px 10px; }
      .fixed ul .biu-footprint:hover {
        background: #FF3366 url(../img/fixed-zj-bg.png) no-repeat 13px 10px; }
    .fixed ul li:hover a {
      color: #fff; }
  .fixed .goTop {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 38px;
    height: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
    z-index: 1000;
    display: none;
    cursor: pointer;
    background: #F8F8F8 url(../img/fixed-gotop.png) 12px 16px no-repeat; }
    .fixed .goTop:hover {
      background: #FF3366 url(../img/fixed-gotop-bg.png) 12px 16px no-repeat; }
