body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

legend {
  color: #000; }

fieldset, img {
  border: none; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border: none;
  height: 1px; }

html {
  overflow-y: scroll; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear:after {
  display: block;
  clear: both;
  overflow: hidden;
  content: "";
  height: 0;
  visibility: hidden; }

.header {
  border-bottom: 1px solid #ddd; }

.top-nav {
  width: 100%;
  background: #f8f8f8;
  line-height: 30px; }
  .top-nav .top-nav-inner {
    width: 1200px;
    font-size: 12px;
    margin: 0 auto; }
    .top-nav .top-nav-inner a {
      display: inline-block;
      padding: 0 20px;
      color: #666; }
      .top-nav .top-nav-inner a em {
        width: 18px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
        margin-right: 5px;
        background: url(../img/nav-bg.png) no-repeat 0 0; }
    .top-nav .top-nav-inner .go-home {
      float: left; }
    .top-nav .top-nav-inner ul {
      float: right; }
      .top-nav .top-nav-inner ul li:nth-child(1) a {
        border-left: 0; }
      .top-nav .top-nav-inner ul li {
        float: left; }
        .top-nav .top-nav-inner ul li a {
          height: 20px;
          line-height: 20px;
          border-left: 1px solid #ccc; }
          .top-nav .top-nav-inner ul li a .weixin {
            background-position: -25px 0; }
          .top-nav .top-nav-inner ul li a .qq {
            background-position: -50px 0; }
          .top-nav .top-nav-inner ul li a .enshrine {
            background-position: -75px 0; }
          .top-nav .top-nav-inner ul li a .car {
            background-position: -103px 0; }
          .top-nav .top-nav-inner ul li a .ndent {
            background-position: -125px 0; }
          .top-nav .top-nav-inner ul li a .help {
            background-position: -175px 0; }
        .top-nav .top-nav-inner ul li a:hover {
          color: #FF3366; }
    .top-nav .top-nav-inner .ensh {
      position: relative; }
      .top-nav .top-nav-inner .ensh ul {
        position: absolute;
        width: 100px;
        left: 0;
        top: 30px;
        background: #f8f8f8;
        border: 1px solid #eee;
        z-index: 10;
        display: none; }
        .top-nav .top-nav-inner .ensh ul li a {
          border: 0; }
    .top-nav .top-nav-inner .ensh:hover ul {
      display: block; }

.footer {
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #ddd; }
  .footer .footer-con {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0; }
    .footer .footer-con .flist {
      float: left;
      margin-right: 100px; }
      .footer .footer-con .flist h4 {
        font-size: 16px;
        color: #666; }
      .footer .footer-con .flist .footer-link {
        margin-top: 26px;
        font-size: 12px; }
        .footer .footer-con .flist .footer-link a {
          color: #666666; }
        .footer .footer-con .flist .footer-link a:hover {
          color: #FF0000; }
    .footer .footer-con .aboutus em {
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: sub;
      margin-right: 4px;
      background: url(../img/flist-bg.png) no-repeat; }
    .footer .footer-con .aboutus .qqzone {
      background-position: -28px 0; }
    .footer .footer-con .aboutus .tencent {
      background-position: -56px 0; }
    .footer .footer-con .service {
      margin-left: 50px; }
      .footer .footer-con .service img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto; }
    .footer .footer-con .client img {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto; }
  .footer .footer_record {
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    padding: 10px 0;
    color: #666; }
    .footer .footer_record a {
      color: #666; }
    .footer .footer_record a:hover {
      color: #FF3366; }
