//search
.search{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    //shop-inf
    .shop-inf{
        float: left;
        padding-top: 15px;
        padding-left: 20px;
        // shop-logo
        .shop-logo{
            float: left;
            img{
                width: 40px;
                height: 40px;
            }
        }
        
        // shop-name
        .shop-name{
            float: left;
            padding-left: 10px;
            // name
            .name{
                font-size: 14px;
                line-height: 20px;
                a{
                    color: #333;
                }
            }
            // inf
            .inf{
                font-size: 12px;
                color: #666;
                float: left;
                p{
                    span{
                        margin-right:5px;
                        b{
                            font-weight: 100;
                            margin-left: 3px;
                            color: #FF3366;
                        }
                    }
                }
                .info-com{
                    background: #f6f6f6;
                    width: 505px;
                    height: 280px;
                    padding-top: 70px;
                    box-sizing: border-box;
                    .info-com-left{
                        width: 220px;
                        border-right: 1px solid #ddd;
                        float: left;
                        ul{
                            float: left;
                            line-height: 25px;
                            &:nth-child(1){
                                width: 85px;
                                text-align: right;
                            }
                            &:nth-child(2){
                                color: #333;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        // shop-action
        .shop-action{
            padding-top: 9px;
            float: left;
            padding-left: 10px;
            a{
                display: inline-block;
                padding: 0 10px 0 20px;
                border: 1px solid #ddd;
                color: #666;
                font-size: 12px;
                line-height: 20px;
            }
            .coll{
                margin-right: 10px;
                background: #fff url(../img/detailsImg/mgj.png) no-repeat 2px -49px;
            }
            .serv{
                background: #fff url(../img/detailsImg/deta.gif) no-repeat 2px 1px;
            }
        }
        //arrows
        .arrows{
            width: 20px;
            height: 20px;
            float: left;
            margin-top: 9px;
            background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -20px ;
        }
        // liner-right
        .liner-right{
            width: 1px;
            height: 40px;
            float: left;
            margin-left: 25px;
            margin-top: 5px;
            background: #eee;
        }
    }
    
    // search-con
    .search-con{
        float: right;
        padding-top: 18px;
        form{
            .txt{
                width: 420px;
                height: 30px;
                border: 2px solid #ef2f23;
                font-size: 12px;
                text-indent: 10px;
            }
            span{
                cursor: pointer;
                display: inline-block;
                width: 72px;
                height: 34px;
                font-size: 12px;
                color: #fff;
                line-height: 34px;
                text-align: center;
                background: #ef2f23;
                vertical-align: bottom;
            }
            a{
                display: inline-block;
                width: 74px;
                height: 32px;
                font-size: 12px;
                color: #EF2F23;
                line-height: 32px;
                text-align: center;
                vertical-align: bottom;
                border: 1px solid #EF2F23;
            }
        }
    }
}



//nav
.nav{
    width: 100%;
    margin-top: 15px;
    .banner{
        width: 100%;
        height: 105px;
        display: block;
        background: url(../img/detailsImg/detaBanner.png) no-repeat center;
    }
    .nav-con{
        width: 100%;
        height: 30px;
        background: #3c3c3c;
        .nav-list{
            width: 1200px;
            margin: 0 auto;
            .list-li{
                float: left;
                line-height: 30px;
                font-size: 12px;
                position: relative;
                &>a{
                    padding: 0 20px;
                    border-right: 1px solid #5c5c5c;
                }
                a{
                    color: #fff;
                }
                ul{
                    position: absolute;
                    top: 30px;
                    left: 0;
                    width: 150px;
                    display: none;
                    background: rgba(60, 60, 60, .9);
                    li{
                        line-height: 30px;
                        text-indent: 30px;
                        background: url(../img/detailsImg/rig-jt.png) no-repeat 15px 11px;
                    }
                    li:hover{
                        background: #666;
                        
                    }
                }
                &:hover ul{
                    display: block;
                }
            }
        }
    }
}

// shop-detail
.shop-detail{
    width: 1200px;
    margin: 50px auto 0;
    
    // primary-goods
    .primary-goods{
        float: left;
        // goods-img
        .goods-img{
            float: left;
            position: relative;
            width: 400px;
            padding-bottom: 50px;
            #large-box{
                position: absolute;
                display: none;
                top: 0;
                left: 410px;
                width: 400px;
                height: 400px;
                overflow: hidden;
                #large-img {
                    position: absolute;
                    width: 1200px;
                    height: 1800px;
                }
            }
            #middle-box{
                position: relative;
                #middle-img {
                    width: 100%;
                }
                #shadow {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 200px;
                    height: 200px;
                    display: none;
                    background: rgba(255, 0, 0, .4);
                    cursor: move;
                }
            }
            #small-box {
                margin-top: 10px;
                width: 400px;
                height: 80px;
                text-align: center;
                img{
                    width: 80px;
                    height: 80px;
                    border: 1px solid #fff;
                }
                .act {
                    border-bottom-color: red;
                }
            }
        
        }
        // goods-info
        .goods-info{
            float: left;
            width: 540px;
            padding: 0 90px 50px 30px;
            h3{
                width: 528px;
                font-size: 22px;
                margin-bottom: 10px;
            }
            .money-news{
                width: 530px;
                border: 1px solid #eee;
                padding-left: 10px;
                background: url(../img/detailsImg/money-bg.png) no-repeat center;
                font-size: 12px;
                color: #999;
                .money{
                    line-height: 30px;
                    span{
                        padding-left: 25px;
                        text-decoration: line-through;
                    }
                }
                .money-list{
                    line-height: 40px;
                    .prom{
                        float: left;
                        span{
                           padding-left: 10px;
                           font-size: 24px; 
                           color: #ef2f23;
                           vertical-align: sub;
                        }
                    }
                    .eval{
                        float: right;
                        span{
                            padding: 0 13px 0 8px;
                        }
                    }
                }
            }
            
            .service{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                span{
                    padding-left: 35px;
                    background: url(../img/detailsImg/deta.gif) no-repeat 17px 0;
                }
            }
            .color{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                img{
                    width: 46px;
                    height: 46px;
                    border: 2px solid #666;
                    margin-left: 35px;
                    vertical-align: top;
                }
            }
            .size{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                span{
                    display: inline-block;
                    width: 32px;
                    line-height: 30px;
                    border: 1px solid #666;
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                    text-align: center;
                    cursor: pointer;
                }
                span:nth-child(1){
                    margin-left: 33px;
                }
            }
            .amount{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                line-height: 25px;
                .amount-num{
                    display: block;
                    float: left;
                }
                .num{
                    float: left;
                    margin-left: 35px;
                    margin-right: 10px;
                    border: 1px solid #ddd;
                    span{
                        display: inline-block;
                        width: 25px;
                        line-height: 25px;
                        font-size: 20px;
                        vertical-align: bottom;
                        text-align: center;
                        cursor: pointer;
                    }
                    input{
                        width: 44px;
                        height: 25px;
                        border: 0;
                        vertical-align: bottom;
                        outline: none;
                        text-align: center;
                        border-right: 1px solid #ddd;
                        border-left: 1px solid #ddd;
                    }
                }
            }
            .buy{
                padding-left: 65px;
                padding-top: 17px; 
                a{
                    display: inline-block;
                    width: 200px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 18px;
                }
                .buy-now-buttons{
                    background: #ef2f23;
                    color: #fff;
                }
                .add-to-cart{
                    box-sizing: border-box;
                    border: 1px solid #ddd;
                    vertical-align: bottom;
                    color: #000;
                }
            }
            
            .social{
                padding-left: 65px;
                padding-top: 17px; 
                a{
                    display: inline-block;
                    padding: 0 13px 0 28px;
                    border: 1px solid #ddd;
                    line-height: 25px;
                    border-radius: 15px;
                    color: #ddd;
                    font-size: 12px;
                    margin-right: 10px;
                }
                .fav{
                    background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -108px;
                }
                .share{
                    background: url(../img/detailsImg/deta-xb.png) no-repeat 0 -49px;
                }
                a:hover{
                    border: 1px solid #EF2F23;
                }
            }
            .promise{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                span{
                    display: inline-block;
                    line-height: 30px;
                    text-align: center;
                    padding-right: 22px;
                    cursor: pointer;
                    img{
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                    }
                }
            }
            .mode{
                padding-left: 10px;
                padding-top: 17px;
                font-size: 12px;
                color: #999;
                .label{
                    float: left;
                }
                .nomaibei{
                    float: left;
                    width: 105px;
                    height: 20px;
                    background: url(../img/detailsImg/deta-xb.png) no-repeat -36px -295px;
                }
            }
        }
    }
    
    //primary-slide
    .primary-slide{
        float: right;
        width: 139px;
        border-left: 1px solid #eee;
        padding-left: 20px;
        box-sizing: border-box;
        .title{
            color: #666;
            height: 14px;
            line-height: 14px;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
            position: relative;
            text-align: center;
            s{
                position: absolute;
                top: 12px;
                left: 0;
                width: 100%;
                height: 0;
                border-top: 1px solid #eee;
                text-decoration: none;
            }
            span{
                font-size: 16px;
                text-align: center;
                width: 6em;
                top: 5px;
                left: 50%;
                margin-left: -3em;
                background-color: #fff;
                position: absolute;
            }
        }
        ul{
            text-align: center;
            font-size: 14px;
            li{
                margin-top: 15px;
                img{
                    width: 119px;
                    margin-bottom: 12px;
                }
                span{
                    color: #333;
                }
            }
        }
    }
}


// 主体模块
.detail-content{
    width: 1200px;
    border-right: 1px solid #e5e5e5;
    margin: 0 auto 50px;
    position: relative;
    // 侧边栏
    .col-sidebar{
        width: 200px;
        float: left;
        // 店铺模块
        .module-shop{
            width: 198px;
            border: 1px solid #e5e5e5;
            .shop-names{
                width: 198px;
                background: #f6f6f6;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 58px;
                border-bottom: 1px solid #E5E5E5;
                a{
                    color: #333;
                }
            }
            // 吸顶后侧边栏
            .fixTopNames{
                width: 219px;
                border-right: 0;
            }
            
            .ui-bd{
                .shop-evaluate{
                    height: 32px;
                    margin-top: 20px;
                    ul{
                        overflow: hidden;
                        width: 168px;
                        margin: 0 auto;
                        li{
                            float: left;
                            width: 41px;
                            font-size: 12px;
                            text-align: center;
                            border-right: 1px dotted #e5e5e5;
                            p:nth-child(1){
                                color: #666;
                            }
                            p:nth-child(2){
                                color: #ef2f23;
                            }
                        }
                        li:nth-child(4){
                            border: 0;
                        }
                    }
                }
                .store-up{
                    width: 168px;
                    margin: 0 auto;
                    padding: 16px 0 20px;
                    text-align: center;
                    border-bottom: 1px dashed #E5E5E5;
                    a{
                        width: 64px;
                        line-height: 20px;
                        border: 1px solid #E5E5E5;
                        font-size: 12px;
                        color: #333;
                    }
                    a:nth-child(1){
                        float: left;
                    }
                    a:nth-child(2){
                        float: right;
                    }
                }
                .shop-input{
                    width: 168px;
                    margin: 0 auto;
                    padding: 16px 0 20px;
                    border-bottom: 1px dashed #E5E5E5;
                    text-align: center;
                    input{
                        width: 91px;
                        height: 20px;
                        outline: none;
                        border: 1px solid #E5E5E5;
                    }
                    a{
                        display: inline-block;
                        width: 66px;
                        line-height: 22px;
                        font-size: 12px;
                        color: #fff;
                        vertical-align: bottom;
                        background: #333;
                        
                    }
                }
                .xiaodian{
                    width: 168px;
                    margin: 0 auto;
                    padding: 16px 0 20px;
                    text-align: center;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        // 店铺分类
        .shop-sort{
            width: 198px;
            border: 1px solid #e5e5e5;
            margin-top: 20px;
            .title{
                background: #f6f6f6;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 37px;
                border-bottom: 1px solid #E5E5E5;
                a{
                    color: #333;
                }
            }
            ul{
                font-size: 12px;
                text-indent: 30px;
                line-height: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                li{
                    background: url(../img/detailsImg/mgj.png)no-repeat -230px 12px;
                    a{
                        background: #fff;
                        color: #666;
                    }
                }
            }
        }
        // 看了又看
        .shop-watch{
            width: 198px;
            border: 1px solid #e5e5e5;
            margin-top: 20px;
            .title{
                background: #f6f6f6;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 37px;
                border-bottom: 1px solid #E5E5E5;
                a{
                    color: #333;
                }
            }
            
            .watch-list{
                ul{
                    width: 168px;
                    margin: 0 auto;
                    padding-top: 20px;
                    font-size: 14px;
                    li{
                        margin-bottom: 30px;
                        .watch-list-img{
                            img{
                                width: 100%;
                            }
                        }
                        .watch-list-tit{
                            display: block;
                            width: 100%;
                            line-height: 35px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #333;
                        }
                        p{
                            color: #333;
                            span{
                                padding-left: 38px;
                                color: #999;
                                background: url(../img/detailsImg/watch-list-bg.png) no-repeat 20px 3px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    

    // 主体内容
    .col-con{
        position: relative;
        top: 0;
        width: 732px;
        margin-left: 220px;
        border: 1px solid #E5E5E5;
        // 选项栏
        .col-nav{
            height: 58px;
            background: #f6f6f6;
            div{
                float: left;
                width: 149px;
                line-height: 55px;
                text-align: center;
                border-right: 1px solid #e5e5e5;
                border-top: 3px solid transparent;
                border-bottom: 1px solid #e5e5e5;
                cursor: pointer;
            }
            .col-nav-phone{
                width: 282px;
                border-right: 0;
                position: relative;
                div{
                    position: absolute;
                    right: 0;
                    top: 57px;
                    display: none;
                }
                &:hover{
                    div{
                        display: block;
                    }
                }
            }
            .common{
                background: #fff;
                border-bottom: 0;
                border-top-color: #ef2f23;
            }
        }
        // 选项页
        .module-panel{
            padding-left: 19px;
            padding-right: 19px;
            padding-top: 40px;
            // 商品描述
            .shop-describe{
                h3{
                    font-size: 18px;
                    display: inline-block;
                    color: #333;
                    border-bottom: 1px solid #333;
                    padding-bottom: 2px;
                }
                p{
                    font-size: 14px;
                    color: #666;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
            // 产品参数
            .shop-para{
                h3{
                    font-size: 18px;
                    display: inline-block;
                    color: #333;
                    border-bottom: 1px solid #333;
                    padding-bottom: 2px;
                }
                table{
                    width: 100%;
                    margin-top: 20px;
                    border-collapse: collapse;
                    border-spacing: 0;
                    tbody{
                        tr{
                            td{
                                width: 33%;
                                height: 34px;
                                border: 1px solid #eee;
                                padding: 0 0 0 10px;
                                color: #666;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            //穿着效果
            .wearer-effect{
                width: 100%;
                padding-top: 20px;
                h3{
                    font-size: 18px;
                    display: inline-block;
                    color: #333;
                    border-bottom: 1px solid #333;
                    padding-bottom: 2px;
                    margin-bottom: 20px;
                }
                .graphic-pic{
                    width: 100%;
                    padding-bottom: 20px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    // 扩展栏
    .col-extra{
        position: absolute;
        top: 0;
        right: 0;
        width: 245px;
        height: 100%;
        border-left: 0;
        border-top: 1px solid #e5e5e5;
        background: #fff;
        //购物车模块
        .cart-hd{
            display: block;
            width: 245px;
            line-height: 58px;
            text-align: center;
            font-size: 18px;
            border-bottom: 1px solid #E5E5E5;
            text-indent: 20px;
            background: #fff url(../img/detailsImg/cart-hd-bg.png) no-repeat 54px 20px;
            z-index: 100;
            a{
                color: #333;
            }
        }
        //子导航列表
        .extranav-bd{
            width: 209px;
            margin: 15px 18px 0;
            ul{
                text-align: center;
                font-size: 12px;
                line-height: 37px;
                li{
                    a{
                        color: #666;
                    }
                }
            }
        }
        .fixTopExt{
            position: fixed;
            top: 58px;
        }
    }
}
//吸顶
.fixTop{
    position: fixed;
    top: 0;
    z-index: 100;
}

